@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "Satoshi";
  src: url("/src/assets/fonts/Satoshi/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/src/assets/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf") format("woff2");
  font-weight: 500;
}

body {
  font-family: "Satoshi", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* DaisyUI range custom color */
input[type="range"].custom-range::-webkit-slider-thumb {
  background-color: #BA9948;
}

input[type="range"].custom-range::-moz-range-thumb {
  background-color: #BA9948;
}

input[type="range"].custom-range::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    #BA9948 var(--value, 0%),
    #e5e7eb var(--value, 0%)
  );
}

input[type="range"].custom-range::-moz-range-track {
  background: #e5e7eb;
}







