@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "Satoshi";
  src: url("/src/assets/fonts/Satoshi/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/src/assets/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf") format("woff2");
  font-weight: 500;
}


body {
  font-family: "Satoshi", sans-serif;
}

